.main {
  background-color: rgb(227, 226, 226);
  display: flex;
  flex-direction: column;
}
.Logo {
  position: relative;
  left: 20%;
  @media (max-width: 400px) {
    zoom: 100%;
    left: 5%;
  }
}
.qiravdeba{
  margin-left: 2%;
  height: 30px;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  padding-left: 10%;
  border-color: #6f7383;
}
.searcmain{
  margin-right: 20px;
}
.type-btn {
  display: flex;
  flex-direction: row;
}
.vehicle-type {
  width: 100%;
  padding: 0px;
  border: 1px solid gray;
}
.vehicle-type:nth-child(1) {
  border-right: 1px solid gray;
  border-top-left-radius: 5px;
}
.vehicle-type:nth-child(3) {
  border-right: 1px solid gray;
  border-top-right-radius: 5px;
}
.path {
  color: rgb(178, 181, 181);
  font-size: 12px;
}
.mult {
  display: flex;
  font-size: 12px;
  font-family: "TBCXRegular", sans-serif;
  font-weight: 400;
}

.fields {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: white;
  overflow: hidden;
  
}
.dropdown {
  border: 1px solid gray;
  width: 95%;
  position: relative;
  margin-left: 2%;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  white-space:nowrap ;
  text-overflow: ellipsis;
  cursor: pointer;
}
.ddspan {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  left: 1%;
  font-size: 80%;
  color: gray;
}
.arrow {
  color: gray;
}
.rotated {
  transform: rotate(180deg);
  position: fixed;
  padding: 0px;
}
.dropdown-menu {
   max-height: 200px;
   overflow-y: scroll;
   z-index: 2;
   width: 95%;
}
.manu-item {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 95%;
  margin-bottom: 0;
}
.dropdown-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  margin-right: 1px;

}
.empty {
  flex-shrink: 0;
  display: flex;
  position: relative;
  margin-right: 5px;
  
}
.sec-span {
  display: flex;
  font-size: 14px;
  transition: all;
}
.divv {
  display: flex;
  align-items: center;
  width: 100%;
}
.dropdown-cat {
  border: 1px solid gray;
  width: 100%;
  height: 4vh;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  span {
    color: #ccc;
    position: relative;
    left: 10x;
    margin: 0%;
    padding: 0px;
  }
}
.ffggdd{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
}
.price-div {
  margin-top: 14px;
  border-top: gray solid 1px;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.price {
  color: #333333;
  font-size: medium;
  margin-bottom: 20px;
  margin-top: 20px;
}
.mainneasteddiv{
  display: flex;

}
.usd-span {
  position: relative;
  left: 10bh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  color: #333333;
  font-size: 20px;
}

.pointer {
  display: flex;
  flex-shrink: 0;
  width: 6px;
  height: 2px;
  background-color: gray;
  margin-left: 4px;
  margin-right: 4px;
}
.Minprice {
  width: 50%;
  height: 40%;
  border: gray solid 1px;
  border-radius: 8px;
  font-size: 13px;
  padding: 12px;
  outline: none;
}
.Maxprice {
  width: 50%;
  height: 40%;
  border: gray solid 1px;
  border-radius: 8px;
  font-size: 13px;
  padding: 12px;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.searchcontent {
  display: flex;
}

input[type=checkbox] {
  accent-color: red;
}
.my-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}
.dropdowns {
  display: flex;
  flex-direction: row;
}
.dropdown {
  background-color: rgb(255, 255, 255);
}
.currencies{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.kai{
  width: 20%;
  margin-right: 5px;
}
.price{
  width: 10%;
  height: 10%;
  margin: 10px;
}
.fasihead{
  display: flex;
  justify-content: space-between;
  height: 20%;
}
.submit{
  background-color: orangered;
  border: 1px solid;
  border-radius: 6px;
  color: white;
  font-size: medium;
  width: 90%;
}
.custom-dropdown {
  .dropdown-item {
    display: flex;
    align-items: center;
    .toggle-arrow {
      display: flex;
      transition: all 0.3s;
      margin-left: 4px;
      .dropdown-label {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      svg {
        width: 24px;
        height: 24px;
        fill: none;
        stroke: #6f7383;
        stroke-width: 1.4;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }
  }
}
.ddpeiod {
  top: 100;
  left: auto;
  @media (min-width: 768px) {
    right: auto;
    left: 0;
  }
  right: 0;
  z-index: 2;
  min-width: 120px;
  background-color: white;
  border: solid 1px #757575;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.period {
  display: flex;
  flex-direction: column;
  left: auto;
  position: absolute;
  top: 100;
  margin-top: 8px;
  padding-top: 6px;
  top: 100px;
  z-index: 2;
  min-width: 120px;
  background-color: #fff;
  border: 1px solid rgb(111, 109, 101);
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.periodspan {
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  color: rgb(117, 117, 117);
  white-space: nowrap;
  transition: all 0.3s;
  cursor: pointer;
}
.periodspan:hover {
  color: rgb(0, 0, 0);
}
.sort {
  display: flex;
  flex-direction: column;
  left: auto;
  position: absolute;
  top: 100;
  margin-top: 8px;
  padding-top: 6px;
  top: 100px;
  z-index: 2;
  min-width: 120px;
  background-color: #fff;
  border: 1px solid rgb(111, 109, 101);
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.my-component {
  display: flex;
  flex-direction: column;
}
.media{
  @media (max-width: 1200px){
    display: none;
  }
}
.container {
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 100%;
  @media (max-width: 1200) {
    width: 50%;
    height: 50%;
  }
}
.nestedcontainer {
  display: flex;
  flex-direction: row;
  padding: 16px;
  @media (max-width: 1200px) {
    flex-direction: column;
    width: 50%;
    height: 50%;
  }
}
.item-img {
  width: 20%;
  height: 150px;
  border-radius: 10px;
  @media (max-width: 1200px) {
    width: 50%;
    order: 2;
    height: 50%;
  }
}
.cardHeader {
  position: relative;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 12px;
  @media (max-width: 1200px) {
      
  }
}
.second-part {
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: space-around;
}
.forrentlabel {
  background-color: #1eb676;
  overflow: hidden;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 20px;
  @media (max-width: 1200px) {
    width: 30%;
  }
}
.carmake {
  display: flex;
  font-size: larger;
  color: #272a37;
  font-size: 14px;
  font-weight: bold;
  margin-right: 100%;
  margin-left: 20px;
  margin-right: 5px;
}
.prod-year {
  color: #6f7383;
  margin-left: 4px;
}
.model {
  margin-left: 10px;
  margin-right: 10px;
}
.card_midle {
  margin-left: 10px;
  font-family: "TBC Sailec";
  display: flex;
  font-size: 14px;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 1200px) {
    
  }
}
.borbali {
  margin-right: 15px;
  margin-left: 10px;
}
.card-midle-midle-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #1b1d25;
  margin-left: 4px;
  font-family: "TBC Sailec";
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
}
.card-price{
  font-size: 14px;
}
.garbeni{
  font-weight: bold;
}
.fasi{
  display: flex;
  justify-content: center;
  align-items: center;
 font-size: 20px;
font-weight: bold;
}
.valuta{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left:8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e4e7ed;
}
.karofka{
  margin-left: 2%;
  margin-right: 1%;
}
.cardfooter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.naxvebi{
  color: #8996ae;
  font-size: 12px;
  margin-left: 8px;
}
.cardlabel{
  display: flex;
  flex-direction: row;
}
.order3{
  @media (max-width: 1200px) {
    order: 4;
  }
}